PackagingFrameworkSetup/*.exe
PackagingFrameworkDSMExtensionSetup/*.exe
PackagingFrameworkNSISExtensionSetup/*.exe
PackagingFrameworkMECMExtensionSetup/*.exe
PackagingFrameworkWISEExtensionSetup/*.exe
PackagingFrameworkWorkspaceOneUEMExtensionSetup/*.exe
[Ww]ork/