PackagingFrameworkSetup/*.exe
PackagingFrameworkNSISExtensionSetup/*.exe
PackagingFrameworkDSMExtensionSetup/*.exe
PackagingFrameworkWISEExtensionSetup/*.exe
PackagingFrameworkMECMExtensionSetup/*.exe
PackagingFrameworkWorkspaceOneUEMExtensionSetup/*.exe
[Ww]ork/