PackagingFrameworkNSISExtensionSetup/*.exe
PackagingFrameworkDSMExtensionSetup/*.exe
PackagingFrameworkMECMExtensionSetup/*.exe
PackagingFrameworkWISEExtensionSetup/*.exe
PackagingFrameworkWorkspaceOneUEMExtensionSetup/*.exe
PackagingFrameworkSetup/*.exe
[Ww]ork/